<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>New Recipe</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismissModal()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="!createRecipeForm.valid" (click)="submitForm()">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-thumbnail class="user-image">
    <img src="/assets/avatar.png">
  </ion-thumbnail>

  <ion-row class="add-photo-wrapper">
    <ion-button fill="clear">Add Photo</ion-button>
  </ion-row> -->

  <form [formGroup]="createRecipeForm" #createForm="ngForm" (ngSubmit)="createRecipe(createRecipeForm.value)">
    <ion-list>
      <ion-item>
        <ion-input placeholder="Ingredients" inputMode="text" clearInput="true" formControlName="ingredients" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Description" inputMode="text" clearInput="true" formControlName="description" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Image" inputMode="text" clearInput="true" formControlName="image" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Location" inputMode="text" clearInput="true" formControlName="location" required></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>